@font-face {
  font-family: myFirstFont;
  src: url(fonts/alien.otf);
}
/*change of font*/
html {
    background-color: grey;
    font-family: myFirstFont;
}
/*font*/
* {
    margin: 0px;
    padding: 0px;
}
/*space inbetween content*/

body {
    background-image: linear-gradient(#8a3d60, #3f78cd);
    height: 150vh;
    
}
/*image background*/

nav {
    display: grid;
    grid-template-columns: .5fr 3fr;
    text-align: center;
    place-items: center;
    background-color: blueviolet;
    background-image: url('images/nav.png');
    background-size: cover;
    
}
/*nav control*/

.links {
    width: 100%;
    
}
/*link width*/
nav a {
    font-size: 75px;
    color: chartreuse;
    text-decoration: none;
    margin: 45px;
}
/*font decoration*/
nav a:hover {
    color: red;
}
/*nav color red*/
.links a {
    margin: 1px 5%;
    width: 100%;
}

nav img {
    width: 75%;
    margin: 0px auto;
}
/*space inbetween content*/
section {
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255,255,255,0.4);
}
/* background display*/

products{
    display: grid;
    grid grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
/*products*/
section img {
    width: 35%;
    height: 100%;
}
/*image in section area*/

img {
    width: 80px;
}

/*width of image*/
ul {
    grid-column: 1/3;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
/*grid display*/

li img {
    width: 90%;
}
/*li image*/
p {
    font-size: 20px;
    
}
/*font size*/